@model  NumberGuessingGame.ViewModel.SecretNumberViewModell

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    
        <h3>@Html.DisplayFor(model => model._guessesLeftView)</h3>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
            <br />

    if (Model != null)
    {
        if (Model.secretnumberobj.CanMakeGuess)
        {

            @Html.LabelFor(model => model._guessedNumber)<br />
                    @Html.EditorFor(model => model._guessedNumber)
                    <input type="submit" value="Skicka" />
        }
        else
        {
            @Html.DisplayFor(model => model.doneOnSoManyGuesses)
        }
    }
    else
    {

        @Html.LabelFor(model => model._guessedNumber)<br />
                @Html.EditorFor(model => model._guessedNumber)
                <input type="submit" value="Skicka" />
            }
            }

        
                

                @if (Model != null)
                {
                    <ol>
                        @foreach (var item in Model.secretnumberobj.GuessedNumbers)
                        {
                            <li>@item.Number -> @item.Outcome</li>
                        }
                    </ol>
                    if (Model.secretnumberobj.CanMakeGuess)
                    {
                        @Html.DisplayFor(model => model._outcomeView)
                    }else
	                {
	                    @Html.ActionLink("Slumpa fram nytt hemligt tal", "Index");
                    }

                    

                }







