@model  NumberGuessingGame.ViewModel.SecretNumberViewModell

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{

        <h3>@Html.DisplayFor(model => model.guessesLeft)</h3>
        <h4>@Html.DisplayFor(model => model.doneOnSoManyGuesses)</h4>
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <br />
            

            @Html.LabelFor(model => model._guessedNumber)<br />
            @Html.EditorFor(model => model._guessedNumber)
            <input type="submit" value="Skicka" />
}

            @if (Model != null)
            {
                <table border="1" style="width:100px">
                    @foreach (var number in Model.secretnumberobj.GuessedNumbers)
                    {
                        <tr>
                            <td>@number.Number</td>
                            <td>@number.Outcome</td>
                        </tr>
                    }
                </table>


                        <h4>@Html.DisplayFor(model => model._outcomeView)</h4>
                        <br />
                        if (!Model.secretnumberobj.CanMakeGuess)
                        {
                        @Html.ActionLink("Slumpa fram nytt hemligt tal", "onesMore");

                        }
                        }









