@model NumberGuessingGame.ViewModel.SecretNumberViewModell
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 

        <h1>
            Gissa hemliga talet
        </h1>
        @using (Html.BeginForm())
        {
            @Html.DisplayFor(model => model._guessesLeftView)
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="form-group">
                @Html.LabelFor(model => model._guessedNumber)
                <br />
                @Html.EditorFor(model => model._guessedNumber)
                @Html.ValidationMessageFor(model => model._guessedNumber)
            </div>

            <div class="form-group">
                <input type="submit" value="Skicka" />
            </div>

            <div class="answer">
                @Html.DisplayFor(model => model._outcomeView)
            </div>
            <div class="beforeguesses">
                @Html.DisplayFor(model => model.beforeGuessesView)
            </div>
        }

    </div>
</body>
</html>
